<google-map height="84vh" width="100%" [zoom]="zoom" [center]="center" [options]="options" id="map">

   <!-- Parking Marker -->
  <map-marker #markerElem *ngFor="let marker of pService.park" [position]="marker.position" [label]="marker.label"
    [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)"
    (mapClick)="setPosition(marker.position)">

    <map-info-window>
      <div [innerHTML]=infoContent></div>
      <button (click)="setDirections()">Get Directions</button>
      <button (click)="stopDirections()">Stop Directions</button>
    </map-info-window>

  </map-marker>
  <!-- End Parking Marker -->

  <app-venues (vDirections)="setVenue($event)"></app-venues>

  <app-restaurants (rDirections)="setRestaurant($event)"></app-restaurants>

</google-map>