<h1 mat-dialog-title>Destionation GR</h1>
  <div mat-dialog-content>
  <p class="intro">
Grand Rapids vision and mission is to be nationally recognized as a <br> 
welcoming, innovative, and collaborative city. <br>  <br> 
The City of Grand Rapids is a city of culture, divisity, and Art. <br> 
We created this app to assist you in navigating to and from popular venues and resturants, <br> 
and connecting you to the closet parking structure while visting Grand Rapids. 
  </p>
  <ol>
    <li> Select your parking structure </li>
    <li> Select your venue </li>
    <li> Select get directions</li>
    <li>Line should appear with your route </li>
    <li>Select stop directions to clear screen </li>
  </ol>
  <h3>Enjoy your visit to GR</h3>
</div>

