<!-- <p>appinstructions works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="appinstructions.component.css">
  <title>Document</title>
</head>
<body>
  <header>Destionation GR</header>
  <p class="intro">
Grand Rapids vision and mission is to be nationally recognized as a <br> 
welcoming, innovative, and collaborative city. <br>  <br> 
The City of Grand Rapids is a city of culture, divisity, and Art. <br> 
We created this app to assist you in navigating to and from popular venues and resturants, <br> 
and connecting you to the closet parking structure while visting Grand Rapids. 
  </p>
  <ol>
    <li> Select your parking structure </li>
    <li> Select your venue </li>
    <li> </li>
    <li></li>
    <li></li>
  </ol>
</body>
</html>
