
p{
  width: 100px;
  height: 500px;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}
.container{
  border:2px solid black;
  flex-direction: column;
  display: flex;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: list-item;

}