<header>
  <div class="contain">
  <img alt="destination gr logo" src="assets/logo.jpg" class="logo" />

 
  <img class="menu" src="https://img.icons8.com/android/24/000000/menu.png"/>
 
  </div>
</header>
<!-- <google-map>
  <map-marker
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
  >
  </map-marker>
</google-map> -->

<app-gmap></app-gmap>

<footer>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-instagram"></a>
</footer>
