<header>
  <div class="contain">
    <img alt="destination gr logo" src="assets/logo.jpg" class="logo" />
  </div>
</header>

<app-gmap></app-gmap>

<footer>
  Say Hello
  <a class="dot" href="https://github.com/benjamindrolls" target="_blank">B</a>
  <a class="dot" href="https://github.com/jkgaza" target="_blank">J</a>
  <a class="dot" href="https://github.com/kmarusek" target="_blank">K</a>
  <a class="dot" href="https://github.com/Ramona-Saintandre" target="_blank">R</a>
  <a class="dot" href="https://github.com/sdeering397" target="_blank">S</a>
  To Our Team
</footer>